.sticky-top { background: white; margin-bottom: 10px}
.redskill { background: red; }
.yellowskill { background: yellow; }
.blueskill { background: blue; }
.greenskill { background: green; }
.line-box{height: 50px;
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {width: 100%;height: 5px;background:#007bff;}
.sticky-top2{
    position: sticky;
    top: 0px;
    z-index: 1019;
}
.table-head{
    margin-bottom: 0px;
}
.center-td{
    vertical-align: middle !important;
}